* {
	box-sizing: border-box;
}

body {	
    background: #CFD0CF;
}

h1 {	
	font-family: 'Arial', sans-serif;
	color: #434344;
	font-size: 42px;
	line-height: 47px;
	text-align: center;
}

.gameContainer {	
	display: grid;
	grid-template-columns: repeat(4, 130px);
	grid-template-rows: repeat(3, 130px);
	grid-gap: 25px;
    justify-content: center;
}

/* ----- оформляем рубашку (front side) и лицевую сторону карты (back side) -----*/

.side {
	position: absolute;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    border-radius: 9px;
    backface-visibility: hidden;    
    cursor: pointer;
}

.front {
	display: block;
	width: 130px;
	height: 130px;	
	background: linear-gradient(45deg, #22AB93, #19668D);
	background: -webkit-linear-gradient(45deg, #22AB93, #19668D);	
	border: 5px solid #fff;	
}

.back {
	display: block;
	width: 130px;.
	height: 130px;
	line-height: 130px;		
	background: #fff;	
	transform: rotateY(180deg);	
	cursor: pointer;
	font-size: 75px;
    text-align: center;
	/* отменяем выделение текста пользователем  */
	-webkit-user-select: none;	
	-moz-user-select: none;
	-ms-user-select: none;
}


/* ----- переворот карточки -----*/
.card {
   transform-style: preserve-3d;
   transition: transform .5s; 
   perspective: 600px; 
}

.rotated {
	transform: rotateY(180deg);
}

/* ----- смена цвета карточки -----*/

.rightColor {
	background: #5AD66F;
}

.wrongColor {
    background: #F44336;
}

/* ----- таймер -----*/

.timer {
	font-family: 'Arial', sans-serif;
	color: #434344;
    font-size: 32px;
    font-weight: bold;
	line-height: 36px;
	text-align: center;
	margin: 0;
	padding: 30px 0;
}

/* ----- всплывающее окно и стиль сообщения -----*/

.pop-up {
   display: none;
   position: fixed;
   top: 0;
   background: rgba(0, 0, 0, 0.5);
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
}

.message-box {
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 350px;
	background: #fff;
}

.message {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
	color: #434344;
	text-align: center;
    font-size: 48px;
	line-height: 48px;
	padding-top: 30px;
	display: none;	
}

.button {
	position: relative;
	margin-top: 40px;
	margin-bottom: 30px;
	padding: 0 30px;
	background: linear-gradient(180deg, #22AB93, #19668D);
	background: -webkit-linear-gradient(180deg, #22AB93, #19668D);
	border: none;
	height: 40px;
	color: #fff;
	font-size: 20px;
	line-height: 20px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    border-radius: 5px;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
}

.text-win {
	margin-top: 30px;
	margin-left: 132px;
}

.text-lose {
	margin-top: 30px;
	margin-left: 120px;
}

/* -- убираем браузерную обводку и добавляем тень -- */
.button:active, .button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

.button:active, .button:focus {
  outline: none !important;
  box-shadow: inset 2px 1px 8px rgba(0,0,0,0.5);
}

/* -- окончание игры -- */

.gameOver {
	display: block;
}

/* -- анимация букв -- */
.message > div {
   position: relative;
   text-align: center;
   display: inline-block;
   float: left;
   width: auto;
   margin: 0;
}

.message > div:nth-child(1) {
   animation: jump-and-scale 500ms ease 0ms infinite alternate;
}

.message > div:nth-child(2) {
   animation: jump-and-scale 500ms ease 86.25ms infinite alternate;
}

.message > div:nth-child(3) {
   animation: jump-and-scale 500ms ease 172.5ms infinite alternate;
}

.message > div:nth-child(4) {
   animation: jump-and-scale 500ms ease 258.75ms infinite alternate;
}

@keyframes jump-and-scale {
	from {
		transform: scaleY(0.7) translateY(0px) rotateX(15deg);
	}
	to {
		transform: scaleY(1.4) translateY(-10px) rotateX(0deg);
    }






